*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(#369112,black);
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container{
    background-color: white;
    height: 450px;
    width: 300px;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px black;
}

.titulo{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
}

input{
    width: 210px;
    height: 40px;
    border-radius: 10px;
    border: 0.2px solid;
}

label{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    width: 250px;
    height: 30px;
    margin: 20px 0 30px 0;
    color: white;
    background-color: #279112;
    border-radius: 10px;
    border: 0.5px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
}

button:hover{
    background-color: #5b6407;
}

.result{
    border: 1px solid black;
    height: 120px;
    width: 250px;
    border-radius: 10px;
    background-color: #279112;
    color: black;
    text-align: center;
    font-size: 14pt;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}